<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PCCP - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        <script src="https://kit.fontawesome.com/39e7094770.js" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <nav>
                <ul class="nav" id="nav">
                    <li class="logo"><img src="{{ url_for('static', filename='img/logo_pccp_linear.jpg') }}" alt="Logo PCCP"></li>
                    <li class="nav-item"><a href="{{ url_for('frontend.home') }}#">ACCUEIL</a></li>
                    <li class="nav-item"><a href="{{ url_for('frontend.home') }}#about">À PROPOS</a></li>
                    <li class="nav-item"><a href="{{ url_for('frontend.home') }}#projets">NOS PROJETS</a></li>
                    <li class="nav-item"><a href="{{ url_for('frontend.home') }}#news">LES NEWS</a></li>
                    <li class="nav-item"><a href="{{ url_for('frontend.home') }}#partenaires">NOS PARTENAIRES</a></li>
                    <li class="nav-item"><a href="#">CONTACT</a></li>
                    <li class="nav-item"><a class="nav-button" href="/">FAÎTES UN DON</a></li>
                    <li class="icon"><i class="fa fa-bars" id="toggle"></i></li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer class="footer">
            ©2022 association PC Coup d'Pouce<br/>
            10 rue Vauquelin, 75005 Paris
        </footer>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block js %}{% endblock %}
</html>
