{% extends 'layouts/base.html' %}

{% block title %}Édition de la page d'accueil{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}"/>
{% endblock %}

{% block content %}
<main class="main">
    <section class="container">
        <a href="{{ url_for('admin.dashboard') }}">Retour au tableau de bord</a>
        <h1>Édition de la page d'accueil</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('admin.index_edit') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <fieldset class="projet-field">
                {{ form.bienvenue.label }}
                {{ form.bienvenue(rows=15) }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.don.label }}
                {{ form.don(rows=4) }}
            </fieldset>

            <hr/>
            <hr/>

            <fieldset class="projet-field">
                {{ form.keypoint1_icon.label }}
                {{ form.keypoint1_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint1_title.label }}
                {{ form.keypoint1_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint1_content.label }}
                {{ form.keypoint1_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.keypoint2_icon.label }}
                {{ form.keypoint2_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint2_title.label }}
                {{ form.keypoint2_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint2_content.label }}
                {{ form.keypoint2_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.keypoint3_icon.label }}
                {{ form.keypoint3_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint3_title.label }}
                {{ form.keypoint3_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint3_content.label }}
                {{ form.keypoint3_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.keypoint4_icon.label }}
                {{ form.keypoint4_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint4_title.label }}
                {{ form.keypoint4_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.keypoint4_content.label }}
                {{ form.keypoint4_content }}
            </fieldset>

            <hr/>
            <hr/>

            <fieldset class="projet-field projet-img">
                <div class="projet-img-single">
                    <img src="{{ url_for('static', filename='img/index_chiffres.jpg') }}"/>
                    {{ form.chiffres_img.label }}
                    {{ form.chiffres_img }}
                </div>
            </fieldset>

            <fieldset class="projet-field">
                {{ form.chiffres1_icon.label }}
                {{ form.chiffres1_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres1_title.label }}
                {{ form.chiffres1_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres1_content.label }}
                {{ form.chiffres1_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.chiffres2_icon.label }}
                {{ form.chiffres2_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres2_title.label }}
                {{ form.chiffres2_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres2_content.label }}
                {{ form.chiffres2_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.chiffres3_icon.label }}
                {{ form.chiffres3_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres3_title.label }}
                {{ form.chiffres3_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres3_content.label }}
                {{ form.chiffres3_content }}
            </fieldset>

            <hr/>

            <fieldset class="projet-field">
                {{ form.chiffres4_icon.label }}
                {{ form.chiffres4_icon }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres4_title.label }}
                {{ form.chiffres4_title }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.chiffres4_content.label }}
                {{ form.chiffres4_content }}
            </fieldset>

            <div class="projet-field">
                {{ form.submit }}
            </div>
        </form>
    </section>
</main>
{% endblock %}