{% extends 'layouts/base.html' %}

{% block title %}{{ projet.name }} - Édition{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}"/>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/projet.js') }}" ></script>
{% endblock %}

{% block content %}
<main class="main">
    <section class="container">
        <a href="{{ url_for('admin.dashboard') }}">Retour au tableau de bord</a>
        <h1>{{ projet.name }}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('admin.projet_edit', slug=projet.slug) }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <fieldset class="projet-field projet-img">
                <div class="projet-cover">
                    <img src="{{ url_for('static', filename='img/projets/' + projet.slug + '/' + projet.slug + '_cover.jpg') }}" alt="{{ projet.name }} cover">
                    {{ form.cover_img.label }}
                    {{ form.cover_img }}
                </div>
                <div class="projet-thumbnail">
                    <img src="{{ url_for('static', filename='img/projets/' + projet.slug + '/' + projet.slug + '_thumbnail.jpg') }}" alt="{{ projet.name }} thumbnail">
                    {{ form.thumbnail.label }}
                    {{ form.thumbnail }}
                </div>
            </fieldset>
            <fieldset class="projet-field">
                {{ form.name.label}}
                {{ form.name }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.slug.label}}
                {{ form.slug }}
                <p>Attention ! Nom raccourci du projet pour les liens. Changer ce paramètre peut entraîner une perte de référencement. Mettre seulement des caractères simples (pas d'accents etc)</p>
            </fieldset>
            <fieldset class="projet-field">
                {{ form.promo.label}}
                {{ form.promo }}
            </fieldset>
            <fieldset class="projet-field">
                {{ form.courte_description.label}}
                {{ form.courte_description }}
            </fieldset>
            <div class="sections-header">
                <h2>Sections</h2>
                <button id="section-add">Ajouter</button>
            </div>
            <div id="sections-form">
                {% for section in projet.sections %}
                    <fieldset class="projet-field projet-field-section">
                        <label for="title-{{ loop.index0 }}">Titre</label>
                        <input type="text" name="title-{{ loop.index0 }}" value="{{ section.title }}" />
                        <label for="content-{{ loop.index0 }}">Contenu</label>
                        <textarea rows="10" name="content-{{ loop.index0 }}">{{ section.content }}</textarea>
                        <button id="delete-{{ loop.index0 }}" class="delete">Supprimer</button>
                    </fieldset>
                {% endfor %}
            </div>
            <div class="projet-field">
                {{ form.submit }}
            </div>
        </form>
    </section>
</main>
{% endblock %}