.login-container {
    width: 100%;
    margin: 0 auto;
}
.input-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    border: none;
}
.input-field input:not([type="submit"]) {
    width: 90%;
}
.input-field label {
    width: 100%;
}
.input-field input[type="submit"] {
    margin-right: 5%;
    margin-left: auto;
}
@media (min-width: 500px) {
    .login-container{
        width: 500px;
    }
}