{% extends 'layouts/base.html' %}

{% block title %}{{projet.name}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/frontend/projet.css') }}"/>
{% endblock %}

{% block content %}
<main class="main">
    <section class="projet-header">
        <div class="projet-header-text-container">
            <div class="projet-header-project projet-header-text">Projet</div>
            <div class="projet-header-title projet-header-text">{{projet.name|upper}}</div>
            <div class="projet-header-text projet-header-text">{{projet.courte_description}}</div>
        </div>
        <div class="projet-header-img">
            <img src="{{ url_for('static', filename='img/projets/' + projet.slug + '/' + projet.slug + '_cover.jpg') }}" alt="Photo {{projet.name}}">
        </div>
    </section>
    <div class="container">
        <div class="projet-container">
            <section class="projet-content">
                <h2>Quoi ?</h2>
                <p>{{projet.quoi}}</p>
                <h2>Où ?</h2>
                <p>{{projet.ou}}</p>
                <h2>Pour qui ?</h2>
                <p>{{projet.pour_qui}}</p>
                <h2>Pourquoi ?</h2>
                <p>{{projet.pourquoi}}</p>
            </section>
            <aside class="projet-infos"></aside>
        </div>
    </div>
</main>
{% endblock %}