{% extends 'layouts/base.html' %}

{% block title %}Connexion{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}"/>
{% endblock %}

{% block content %}
<main class="main">
    <div class="login-container">
        <h2>Connexion</h2>
        <form method="post" action="/login">
            <fieldset class="input-field">
                {{ form.email.label }}
                {{ form.email }}
            </fieldset>
            <fieldset class="input-field">
                {{ form.password.label }}
                {{ form.password }}
            </fieldset>
            <div class="input-field">
                {{ form.submit }}
            </div>
            {{ form.csrf_token }}
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</main>
{% endblock %}